<td class="transaction-date">{{format-date transaction.created_at leaveAgo="true"}}</td>
<td class="transaction-details">
  <a href={{url}} class="link {{if isNegative "out"}}">{{details}}</a>
</td>
<td class="transaction-points {{if isNegative "out"}}">
  {{if isNegative "-" "+"}}{{absPoints}}
</td>
